.home-form {
    width: 50%;
}

@media (max-width: 1023px) {
    .home-form {
        width: 100%;
    }
}

.dragdrop .dropzone{
    background: lightgray;
    border:gray dotted;
    text-align: center;
}

.dragdrop .dropzone.dragging{
    background: darkgray;

}