body {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    height: 100vh;
    background-color: #020230;
    color: #fff;
}

@media (max-width: 1023px) {
    .app {
        flex-direction: column-reverse;
        scroll-behavior: smooth;
        overflow: auto;
    }
}